body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.header {
    text-align: center;
    margin: auto;
    flex: 1;
}

.image {
    text-align: center;
    margin: auto;
    flex: 1;
}

.image img {
    max-width: 100%;
    height: auto;
}

.sidebar {
    position: relative;
    transition: transform 0.3s ease;
    width: 200px;
    background-color: #f4f4f4;
}

.toggle-checkbox {
    display: none;
}

.toggle-label {
    display: block;
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

.menu {
    height: 100%;
    padding-top: 56px;
}

.menu-item {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
    border-bottom: 1px solid #ddd;
    border-radius: 10px;
    margin: 10px;
    background-color: #e9e9e9;
    text-align: center;
}

.menu-item:hover {
    background-color: #ddd;
}

.toggle-checkbox:checked + .toggle-label + .menu {
    transform: translateX(-200px);
}

.toggle-checkbox:checked ~ .main-content .scroll-list {
    margin-left: 0;
}

.main-content {
    flex: 1;
    overflow-y: auto;
    transition: margin-left 0.3s ease;
    margin-left: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.scroll-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list-item {
    text-align: center;
    margin: 20px 0;
}

.list-item img {
    max-width: 100%;
    height: auto;
}

.list-item p {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: bold;
}
